---
export interface Props {
  picture?: string;
	title?: string;
	body?: string;
  href?: string;
}

const {title="Articles And Publications", body = "Article on the DNA evidence under Nigerian Law", href, picture} = Astro.props;
---

<div class="card">
	<div class="card-text">
    <div class="img-border">
      <img src=`${picture}` alt=`${title}` class="card-image">
    </div>
    
		<h2 class="card-title">
			{title}
		</h2>
		<p class="card-content">
			{body}
		</p>
    <a href={href}>Visit Profile</a>
	</div>
</div>
<style>
  .card-text {
    overflow: hidden;
  }

  .card-text h2 {
		font-size: 2rem;
    margin: 20px 0;
    padding: 8px;
    background-color: #222831;
    color: #eee;
    border-radius: 8px;
	}

  .card-text h3 {
		font-size: 1.5rem;
    margin: 20px 0;
    padding: 8px;
    background-color: #222831;
    color: #eee;
    border-radius: 8px;
	}

  .card-text a {
    background-color: #872341;
    text-decoration: none;
    color: #eee;
    padding: 12px 25px;
    border-radius: 5px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.13);
    cursor: pointer;
  }
  .card-text a:hover {
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.2s ease-in;
  }

  details {
    font-size: 1.2rem;
  }
  summary{
    font-size: 1.4rem;
    font-weight: bold;
  }

  details[open] > summary:first-of-type {
    list-style-type: inside square;
  }

  .img-border {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  /* .card-text img {
    
    width: 100%;
    height: auto;
    border: 10px solid #fff;
    border-radius: 25%;
    margin: 20px;
    object-fit: contain;
    overflow-x: hidden;
    
  } */

  .card-title {
    font-size: 1.8rem;
    margin: 15px 0;
    background-color:#872341 ;
    color: #fff;
    padding: 10px 8px;
    border-radius: 4px;
    box-shadow: 0 20px 25px -5px rgba(0 0 0 / 0.1);
  }

  a {
    text-decoration: none;
  }
  
  p {
    margin-bottom: 15px;
  }
</style>
